@font-face {
    font-family: "netgo-font";
    src: url(./fonts/NeueMontreal-Regular.otf);
}

@font-face {
    font-family: "netgo-font-B";
    src: url(./fonts/NeueMontreal-Regular.otf);
}
*{
    font-family: netgo-font;
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    margin-top:  20px;

}
/* .logo{
    width: 30%;
} */
.logo img{
    width: 150px;
}

.links ul{
    
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.btn{
    padding: 12px;
    width: 100px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #eceff5;
}

#green-btn{
    background-color: #caee0e;
    border: none;
}

.intro{
    background-color: #095763;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 20px;
    margin: 10px;
    text-align: center;

}
    
.content h1{
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 30;
    padding-top: 10px;
    font-family: netgo-font-B;

}

.content h2{
    line-height: 30px;
    font-weight: 100;
    font-size: 16px;
}
.content button{
    color: white;
    margin-top: 20px;
    width: 150px;
    padding: 15px 12px;
    margin-left: 20px;
    margin-bottom: 60px;
}

.content img{
    width: 600px;
    
}

.testimonial{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

.box{
    text-align: center;

}

.box h2{
    line-height: 25px;
    font-weight: 100;
    font-size: 16px;
    color: #98a1ab;
}

.box h1{
    font-size: 55px;
    margin-bottom: 30px;
    font-weight: 600;
    padding-top: 10px;
}

#mid{
    background-color: #f1f5ef;
    color: black;
    padding-top: 100px;
}
#mid h1{
    font-weight: 800;
}

.color{
    color: #98a1ab;
}

.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 100px;
}
.icon {
    width: 320px;
    text-align: left;
    height: 250px;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    color: #98a1ab;
    transition: all 500ms;

}

.icon img{
    width: 30px;
    display: block;
    margin: 20px;
}
.icon h1{
    font-size: 25px;
    text-align: left;
}

.icon1{
    background-color: white;
}

.icon2{
    background-color: #095763;
    color: #D5E5E2;
}
.icon3{
    background-color: #D5E5E2;
}




.icon:hover{
    background-color: #2e7552;
    color: white;
    
}

.big{
    width: 92%;
    font-family: netgo-font-B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
    padding: 50px;
    


}
.left{
    margin: 20px 50px;
}
.left h1{
    font-size: 45px;
    margin-bottom: 70px;
}

.left h2{
    line-height: 25px;
    font-weight: 100;
    font-size: 16px;
    color: #98a1ab;
    width:80%;
}

.left button{
    padding: 15px;
    border-radius: 40px;
    margin-top: 20px;
}
.right{
    margin: 50px;
    padding: 100px ;
    background-color: #f1f5ef;
    border-radius: 50px;
    height: 200px;
   
    
}
.right img{
    width: 250px;
}
.blue{
    font-size: 13px;
    color: #69999c;
    border: #69999c 1px solid;
    display: inline;
    padding: 5px 20px;
    border-radius: 20px;
    background: none;
}

.price{
    text-align: center;
}
.price h1{
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: 600;
    padding-top: 10px;
    font-family: netgo-font-B;
}

.description{
    color: #98a1ab;
    font-size: 16px;
}


.money{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cash{
    height: 400px;
    width: 320px;
    text-align: left;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    color: #95b7bb;
    transition: all 500ms;
    background-color: #095763;

}



.cash h1{
    font-size: 25px;
    color: white;
    font-weight: 600;

}

h1.text{
    font-size: 50px;
    display: inline;
}
.bb{
    padding:20px 120px 30px 0px;
    border-bottom:1px dashed #95b7bb ;
    
}

.check img{
    width: 15px;
    margin-right: 5px;
}
.check{
    margin: 50px 0px 0px 0px;
    
}

.grey{
    background-color: #D5E5E2;

}


.grey h1{
    color: black;
    font-weight: 600;
}
.price{
    background-color: #f1f5ef ;
    padding-top: 80px;
    border-radius: 20px;
    margin: 0px 10px;
}
.white{
    background-color: #fff;
    width: 60%;
    margin: 10px auto;
    text-align: left;
    padding: 25px 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.l h2{
    margin-bottom: 10px;
}
.r button{
     width: 120px;
     height: 40px;
     font-weight: 600;
}
.trust{
    padding-top: 40px;
    padding-bottom: 30px;
}

.img img{
    width: 120px;
    padding: 20px ;
}

#gt{
    height: 400px;
    background-color: #F1F5EF;
    color: black;
    
}

#gt h1{
    font-weight: 800;
    font-size: 50px;
}

#gt img{
    width: 50px;
}

#grey-btn{
    color: #095763; 
    border: 1px solid #095763;
}

.footer{
    background-color: #095763;
    border-radius: 20px;
    margin: 10px;

    
}
.footer-content{
    display: flex;
    justify-content: space-around;
    
    justify-content: space-around;
    padding: 70px 0px;
    color: #a1bfc3;
    margin: 40px;
    border-bottom: 1px solid #eceff5;


}

.footer ul{
    list-style-type: none;

}

.footer ul li{
    margin-bottom: 14px;
    font-size: 16px;
}

.footer ul li h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #eceff5;
}

.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #eceff5;
    
}

.end img{
    width: 20px;
}
.menu{
    display: none;
}


/* Mobile devices (portrait and landscape) */
@media (max-width: 480px) {
    .links {
        display: none;
    }

    .menu{
        display: block;
        
    }

    .btn-links button{
        display: none;
    }
    
    .content img{
        width: 25px;
        
    }
    
    .icon{
        display: block;
    }
    /* Add more styles for mobile devices */
}

/* Tablets (portrait and landscape) */
@media (min-width: 481px) and (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    /* Add more styles for tablets */
}

/* Small desktops and laptops */
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar {
        justify-content: space-around;
    }
    /* Add more styles for small desktops and laptops */
}

/* Large desktops and laptops */
@media (min-width: 1025px) {
    .navbar {
        justify-content: space-around;
    }
    /* Add more styles for large desktops and laptops */
}